<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kloudless Status</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<div id="subscribe">
    <div class="content">
        <header>
            <p>Notify me of incidents via:</p>
        </header>

        <section id="email">
            <a class="section-toggle">
                <div class="title">
                    Email
                    <span class="caret pull-right"></span>
                </div>
            </a>
            <div class="section-content">
                <div class="control-group">
                    <div class="controls">
                        <input id="e-email" type="email" placeholder="email@domain.com" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="e-subscribe[]" value="API">API incidents
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="e-subscribe[]" value="JS">JS incidents
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="e-subscribe[]" value="DASHBOARD">Dashboard incidents
                        </label>
                    </div>
                </div>

                <hr />

                <div class="control-group pull-right">
                    <div class="controls">
                        <button id="e-submit" class="btn">Subscribe</button>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="result subscribed">
                    <i class="icon-ok-sign"></i> Successfully subscribed.
                </div>

                <div class="result error">
                    <i class="icon-warning-sign"></i> <span></span>
                </div>
            </div>
        </section>

        <section id="twitter">
            <a class="section-toggle">
                <div class="title">
                    Twitter
                    <span class="caret pull-right"></span>
                </div>
            </a>
            <div class="section-content">
                <p>Follow status updates on Twitter:</p>
                <p class="twitter">
                    <a href="https://twitter.com/@KloudlessAPI">
                        <i class="icon-kltwitter"></i> @KloudlessAPI
                    </a>
                </p>
            </div>
        </section>
    </div>

    <a class="base">
        <div class="icon"></div>
        <div class="copy">Subscribe to notifications</div>
    </a>
</div>

<div class="logo">
  <p>
    <a href="https://developers.kloudless.com/">
      <img src="/static/images/status/kloudless_logo.png" alt="Kloudless">
    </a>
  </p>
</div>

<div class="services stc">
    <ul>
        <li class="API">
            <svg>
                <path d="m 120 0 L 120 295"></path>
            </svg>
            <h3>API</h3>
            <div class="uptime-image">
              Loading...
            </div>
        </li>
        <li class="JS">
            <svg>
                <path d="m 120 0 L 120 295"></path>
            </svg>
            <h3>JS</h3>
            <div class="uptime-image">
              Loading...
            </div>
        </li>
        <li class="DASH">
            <svg>
                <path d="m 120 0 L 120 295"></path>
            </svg>
            <h3>Dashboard</h3>
            <div class="uptime-image">
              Loading...
            </div>
        </li>
    </ul>
</div>
<div class="recent-updates stc">
    <ul>
        <li>
            <h3>Recent updates</h3>
        </li>
        <li class="API">
            <div class="issue">
            </div>
        </li>
        <li class="JS">
            <div class="issue">
            </div>
        </li>
        <li class="DASH">
            <div class="issue">
            </div>
        </li>
    </ul>
</div>
<div class="uptime stc">
    <ul>
        <li>
            <h3>Uptime for the<br>last 30 days</h3>
        </li>

        <li class="API">

            <h1>--<span>%</span></h1>
        </li>
        <li class="JS">

            <h1>--<span>%</span></h1>
        </li>
        <li class="DASH">

            <h1>--<span>%</span></h1>
        </li>
    </ul>
</div>
<div class="messages stc">
    <ul>

    </ul>
    <div class="load">
        <button>Load more</button>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/status.min.js"></script>

<script type="text/javascript">
    //  kick everything off when jquery is ready
    $(function () {
        Balanced.init({});
    });
</script>

</body>
</html>
